<!DOCTYPE html>
<html>
   <head>
     <meta charset="utf-8"/>
      <title>Tela de Login</title>
      <link rel="stylesheet" href="css/login.css" />
   </head>
   <body>
         <fieldset>
               <legend>
                  <img src="img/XIP-pequeno.png" alt="Xip Book"
                  width="216" height="150" class="logo" />
               </legend>

               <label for="email">Email:</label>
                  <input id="email" type="text" name="Usuario"/>
               <label for="user">Usuário:</label>
                  <input  id="user" type="text" name="senha" />
               <label for="pass">Senha:</label>
                  <input id="pass" type="password" name="senha" />
              <label for="confpass">Confirmação:</label>
                  <input id="confpass" type="password" name="senha" />
               <input id="cadastro" type="submit" name="cadastro" value="Cadastrar" />
         </fieldset>

      <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
      <script type="text/javascript" src="js/login.js"></script>
   </body>
   <footer id="footer"><p>XipBook enterprise</p></footer>
</html>
