body{
   background: url("../img/books_syllabus.jpg");
   background-repeat: round;
}

fieldset {
   margin-left: 30px;
   width: 400px;
   height: 600px;
   border: 1px none #dcdcdc;
   border-radius: 10px;}

legend {
   margin-bottom: 40px;
   margin-left: -360px;
   position: relative;}

label {
   color: white;
   font-weight: bold;
   font-size: 18px;
   margin-left: 5px;
   float: left;
   text-align: left;}

input {
   background-color: inherit;
   color: white;
   width: 310px;
   border-bottom: 1px dotted white;
	border-top: none;
	border-right: none;
	border-left: none;
   margin-left: 75px;
   font-size: 120%;
   background-repeat: no-repeat;
   background-position: 8px 9px;
   display: block;
   margin-bottom: 10px;
   text-align: left;}

input#email {
   background-image: url("../img/email.png");
   background-position: left;
   text-indent: 20px;}

input#user {
   background-image: url("../img/web.png");
   background-position: left;
   text-indent: 20px;}

input#pass {
   background-image: url("../img/lock2.jpg");
   background-position: left;
   text-indent: 20px;}

input#confpass {
    width: 270px;
    background-image: url("../img/lock2.jpg");
    background-position: left;
    text-indent: 20px;}

input#cadastro {
	color: #ffffff;
	background-color: #665544;
	border: none;
	border-radius: 10px;
	width: 100px;
   height: 40px;
   text-align: center;
   margin-left: 150px;
   margin-top: 20px;}

   input#cadastro:hover {
   	color: #665544;
   	background-color: #efefef;}

a {
   margin-left: 155px;
   color: white;
}


#lembrarsenha {
   font-size: 18px;
   text-align: right;
   color: white;
   margin-left: 250px;
}

.outheroption {
   margin-top: 15px;
   color: black;
	border: none;
	border-radius: 10px;
	width: 250px;
   height: 30px;
   text-align: left;
   margin-left: 70px;}

input#facebook {
   color: #ffffff;
   margin-top: 30px;
   background-color: darkblue;
}

input#gmail {
   color: #ffffff;
   background-color: darkred;
}

footer {
	height: 0px;
   text-align: right;
}
