<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Projeto XipBook</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
     <div class="conteiner">
     	<div class="jumbotron" >
     		<img alt="" src="img/XIP-pequeno.png" />
		  	<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top justify-content-end">
			  <a href="#" class="navbar-brand">Login</a>
			  <a href="#" class="navbar-brand">Cadastro de Produtos</a>
			  <a href="#" class="navbar-brand">Estande</a>
			  <a href="#" class="navbar-brand">Dicas de Livro</a>
			  <a href="#" class="navbar-brand">Contato</a>
			  <form class="form-inline">
			    <input class="form-control mr-sm-2" type="search" placeholder="Pesquqisar" aria-label="Pesquisar" />
			    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
			  </form>
			</nav>  
		</div>
	</div>
   	
	<script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
